<div class="col-lg-4 col-md-4">
    <!-- Internet Care Box Title Span-->
    <div class="topRow" id="intcare">
        <div class="row row-header"> 
            <div class="col-md-8 text-nowrap" id="scaleTitle">
                <h3>Internet Care</h3>
            </div>
            <div class="col-md-4">
                <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('intcare')"></i></a>
                <a href="#"><i (click)="minimize('box1')" class="glyphicon glyphicon-chevron-down"></i></a>
            </div>
        </div>

        <!-- Internet Care Box-->
      
            <div class="row">
                <div class="col-lg-4" >
                    <div class="col-lg-4">
                        <a href="#">FAQ</a>  
                    </div>  
                    <div class="col-lg-8">
                        <img id="provider" class="smallimg" src="../assets/ATT.png">  
                    </div>
                </div>
                <div class="col-lg-8 text-left">
                    <div class="row">
                        <div class="col-lg-6">                     
                            <a href="#"> <img class="smallimg" src="../assets/ip.png">Ip Address</a>
                            <p>192.168.2.11</p>   
                        </div>
                    
                        <div class="col-lg-6">
                            <a href="#"> <img class="box1img" src="../assets/up.png">Up Speed</a>
                            <p> 2.15 Mbps</p> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">  
                            <a href="#"> <img class="box1img" src="../assets/dns.png">DNS Status</a>
                            <p>UP</p>
                        </div>
                        <div class="col-lg-6">
                            <a href="#"> <img id="box1imgdown" src="../assets/down.png">Down Speed</a>
                            <p> 9.37 MBps</p> 
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
