div i {  
    float:right;
}
div button {
    float:right;
}
span {
    size:1px;
    padding-top: 5px;
    height: 30px;
    width: 100%;
    padding-left: 30px;
    position: relative;
    text-align: right;    
    background-color:rgb(255,255,255);
    float: right;
}
.scaleText p {
    font-size: 0.8vw;
}
.scaleText p {
    font-size: 0.8vw;
}

/* Style the tab */
#dataTabs{
    background-color: white;
    height: 5em;
    padding: 10px;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 10px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    border-top: none;
    min-width: 550px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.network {
    background-color: white;
    margin-top:10px;
}

/* tab changing effects */
/* fading effects */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

