<div  class="col-lg-3 col-md-3">
    <span></span>
    <div class="topRow" id="wificare">
        <!-- Wifi&Local Network Care Span-->
        <div class="row row-header"> 
            <div class="col-lg-8 text-nowrap" id="scaleTitle">
                <h3>Wifi&Local Network Care</h3>
            </div>
            <div class="col-lg-4 ">
                    <!-- (click)="minimize('box2')" -->
                <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('wificare')"></i></a>
                <a href="#"><i class="glyphicon glyphicon-chevron-down box-header"></i> </a>
            </div>      
        </div>

        <div class="row">
                <div class="text-left" > 
                    <div class="col-lg-5">

                    </div>
                    <div class="col-lg-5 text-nowrap">
                        <div class="col-lg-12">
                            <a href="#">Neighbors on Home Channel</a>
                            <h4> <strong>5</strong></h4>
                        </div>
                        <div class="col-lg-12">
                            <a href="#">Poor Links</a>
                            <h4> <strong>2</strong></h4>   
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>