<html>  

    <!-- login page -->
    <div class="container">
        <div class="container2 col-lg-offset-7">  
            <h1>Digital Butler</h1>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <p>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </p>
            <p>
                <button type="submit">
                    <a routerLink="/user">Log In</a>
                </button>

            </p>
            <input type="checkbox" checked="checked"> Remember me            
        </div>
        <svg width=1920 height=1000></svg>
    </div>

</html>