<html>  

    <div class="container">

        <div class="col-lg-5">
            <svg width="1500" height="700"></svg>
        </div>
        <div class="container2 col-lg-7">  
            <h1>Digital Butler</h1>
            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <p>
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </p>
            <p>
                <button ttype="submit">Login</button>
            </p>
            <input type="checkbox" checked="checked"> Remember me            
        </div>
    </div>

</html>