<html>
    
<div class="container">
    
            <div class="container2">  
                <h1>Digital Butler</h1>
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <p>
                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>
                     </p>
                    <p>
                        <button ttype="submit">Login</button>
                    </p>
                    <input type="checkbox" checked="checked"> Remember me
                
                <!--<button type="button" onclick="document.getElementById('login').style.display='none'" class="closewindow">Cancel</button>
                <span class="psw"> <a href="#">Forgot password?</a></span>-->
                
            </div>  
    
</div>

</html>