.container{

height: 100vh;
width:100%;
background: rgb(38, 0, 255); /* For browsers that do not support gradients */
background: -webkit-linear-gradient(rgb(1, 130, 204), rgb(0, 10, 148)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(rgb(1, 130, 204), rgb(0, 10, 148)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(rgb(1, 130, 204), rgb(0, 10, 148)); /* For Firefox 3.6 to 15 */
background: linear-gradient(rgb(1, 130, 204), rgb(0, 10, 148)); /* Standard syntax */
}

.container2{
    height:400px;
    width:400px;
    text-align: center;
    margin:auto;
    margin-top: 120px;
    padding-top:80px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
}

h1{
    color:rgb(1, 130, 204);
}
