<div class="col-lg-2 col-md-4">
    <span></span>
    <div id="promos">
        <span > 
            <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('promos')"></i></a>
            <a href="#"><i (click)="minimize('box1')" class="glyphicon glyphicon-chevron-down"></i></a>
        </span>
        <div id="box5">
            <a href="#" class="btn btn-lg btn-primary">B2</a>
            <button (click)="changeDivContent()">changeDivContent Example</button>
        </div>     
    </div>
</div>