

    <div class="container">
        <!-- gray div -->
        <div class="jumbotron">
            <div class="row top-buffer">
                <!-- A1 -->
              <app-internet_care></app-internet_care> 
                <!-- Wifi & Local Network Care Box -->
                <div  class="col-lg-3 col-md-3">
                    <span></span>
                    <div class="topRow" id="wificare">
                        <!-- Wifi&Local Network Care Span-->
                        <div class="row row-header"> 
                            <div class="col-lg-8 text-nowrap" id="scaleTitle">
                                <h3>Wifi&Local Network Care</h3>
                            </div>
                            <div class="col-lg-4 ">
                                    <!-- (click)="minimize('box2')" -->
                                <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('wificare')"></i></a>
                                <a href="#"><i class="glyphicon glyphicon-chevron-down box-header"></i> </a>
                            </div>      
                        </div>

                        <div class="row">
                                <div class="text-left" > 
                                    <div class="col-lg-5">

                                    </div>
                                    <div class="col-lg-5 text-nowrap">
                                        <div class="col-lg-12">
                                            <a href="#">Neighbors on Home Channel</a>
                                            <h4> <strong>5</strong></h4>
                                        </div>
                                        <div class="col-lg-12">
                                            <a href="#">Poor Links</a>
                                            <h4> <strong>2</strong></h4>   
                                        </div>
                                    </div>
                                    
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Device Care -->
                <div class="col-lg-5 col-md-6">
                    <span></span>
                    <div class="topRow" id="devicecare">
                        <div class="row row-header">
                            <!-- Device Care Title Span-->
                            <div class="col-lg-8 text-nowrap" id="scaleTitle">
                                <h3>Device Care</h3>
                            </div>
                            <div class="col-lg-4">
                                <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('devicecare')"></i></a>
                                <a href="#"><i (click)="minimize('box3')" class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </div>
                                
                        <div class="row">
                            <div class="col-lg-2">

                            </div>
                            <div class="col-lg-10">
                                <div class="row text-left">
                                    <div class="col-lg-4"> 
                                        <a href="#" (click)="myFunction2('myModal')">Devices on 2.4GHZ</a>
                                        <div id="myModal" class="modal">
                                            <div class="modal-content">
                                                <span class="close" (click)="closeFunct('myModal')">&times;</span>
                                                <p>Some text in the Modal..</p>
                                            </div>
                                        </div>
                                        <h4> <strong>5</strong></h4>
                                            
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#" class="popup" (click)="myFunction('PopupGDO')">Guest Devices
                                            <div class="popuptext" id="PopupGDO">A Simple Popup!</div>
                                        </a>
                                        <h4> <strong>1</strong></h4> 
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#">Bandwitdh Hogs</a>
                                        <h4> <strong>0</strong></h4>    
                                    </div>
                                </div>
                                <div class="row  text-left">
                                    <div class="col-lg-4">
                                        <a href="#">Devices on 5GHZ</a>
                                        <h4> <strong>3</strong></h4>  
                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#" class="popup" (click)="myFunction('PopupWD')">Wired Devices
                                        <div class="popuptext" id="PopupWD">A Simple Popup!</div>
                                        </a>
                                        <h4> <strong>2</strong></h4>

                                    </div>
                                    <div class="col-lg-4">
                                        <a href="#">Offline devices Hogs</a>
                                        <h4> <strong>3</strong></h4> 
                                    </div>
                                </div>
                            </div>
                           
                                
                                
                                
                         
                        </div>
                    </div>
                </div>

                <!-- B -->
                <div class="col-lg-10 col-md-6">
                    <div id="dataBox">
                        <!-- B Box Title/Tab Span-->
                            <div class="tab" id="dataTabs">
                                <div class="scaleText">
                                    <button class="tablinks" (click)="openTab(event, 'NETWORK DEVICES')" id="defaultOpen">
                                        <p>NETWORK DEVICES</p>
                                    </button>    
                                </div>
                                <div class="scaleText">
                                    <button class="tablinks text-nowrap" (click)="openTab(event, 'INTERNET UP/DOWN')">
                                        <p>INTERNET UP/DOWN</p>
                                    </button>
                                </div>
                                <div class="scaleText">
                                    <button class="tablinks text-nowrap" (click)="openTab(event, 'AVAILABLE UP/DOWN BANDWIDTH')">
                                        <p>AVAILABLE UP/DOWN BANDWIDTH</p>
                                    </button>
                                </div>
                                <div class="scaleText">
                                    <button class="tablinks text-nowrap" (click)="openTab(event, 'WAN TX/RX PACKETS')">
                                        <p>WAN TX/RX PACKETS</p>
                                    </button>
                                </div>
                                <div class="scaleText">
                                    <button class="tablinks text-nowrap" (click)="openTab(event, 'WIFI NEIGHBOR LIST')">
                                        <p>WIFI NEIGHBOR LIST</p>
                                    </button>
                                </div>
                                <div class="scaleText">
                                    <button class="tablinks text-nowrap" (click)="openTab(event, 'NEIGHBOR WIFI INTERFERENCE')">
                                        <p>NEIGHBOR WIFI INTERFERENCE</p>
                                    </button>
                                </div>
                                <div class="scaleText">
                                    <p>
                                    <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('dataBox')"></i></a>
                                    <a href="#"><i (click)="minimize('box3')" class="glyphicon glyphicon-chevron-down"></i></a></p>
                                </div>
                                <br>
                                
                               
                            </div>
                           
                            <p class="text-nowrap" id="date">Date</p>
                            
                           

                        <div id="NETWORK DEVICES" class="tabcontent">
                           <app-d3chart></app-d3chart>   
                        </div>   

                        <!-- -->
                        <div id="INTERNET UP/DOWN" class="tabcontent">
                            <h3></h3>
                            <h4></h4>
                            <h5></h5>
                            <p>I made Tabs</p>
                        </div> 
                        <!-- --> 

                    </div>
                </div>

                <!-- B2 -->
                <div class="col-lg-2 col-md-4">
                    <span></span>
                    <div id="promos">
                        <span > 
                            <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('promos')"></i></a>
                            <a href="#"><i (click)="minimize('box1')" class="glyphicon glyphicon-chevron-down"></i></a>
                        </span>
                        <div id="box5">
                            <a href="#" class="btn btn-lg btn-primary">B2</a>
                            <button (click)="changeDivContent()">changeDivContent Example</button>
                        </div>     
                    </div>
                </div>

                <!-- E -->
                
                
            </div>
        </div>     
    </div>
    
    <div id="toolbar">
        
                
                    <a href="/" ><img class="toolbarimg" id="refresh" src="../assets/refresh.svg"></a>
                    <a href="#" (click)="showDiv('intcare')"><img class="toolbarimg" src="../assets/internet.svg"><img class="toolbarimg" src="../assets/InternetCare.svg"></a>
                   
                    <a><img class="toolbarimg" src="../assets/Line 113.svg"></a>
                    <a href="#" (click)="showDiv('wificare')"><img class="toolbarimg" src="../assets/WiFiCare.svg"></a> 
                    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                    <a href="#" (click)="showDiv('devicecare')"><p>Device Care</p></a> 
                    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                    <a href="#" (click)="showDiv('dataBox')"><p>Network</p></a> 
                    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                    <a href="#" (click)="showDiv('promos')"><p>Promos</p></a> 
                    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                <!-- <a href="#" class="btn btn-sm btn-primary">E</a> -->
                <!-- <button (click)="remove($event)">X</button> -->
            </div>

