@charset "utf-8";
/* CSS Document */
.row {
    text-align: center;
}
body{
    padding:0;
}
button {
    float: right;
}

span .glyphicon {
    margin-right: 5px;
    font-size:1.2em;
    
}

span ul [class*="col-lg-3"] {
    font-size: 12px;
    width: 11.2856571%;
}
span ul [class*="col-lg-1"] {
    font-size: 12px;
    width: 13.2856571%;
}
span ul [class*="col-lg-2"] {
    font-size: 12px;
    width: 20.2856571%;
}



[class*="col-"] {
    margin-bottom: 15px;
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
span {
   
   
    width: 100%;
    position: relative;
    text-align: right;    
    background-color:white;
    float: right;
}
#box1 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 10em;
    overflow: hidden;
    padding: 20px;
 
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
a {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
#box2 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    overflow:hidden;
    padding:20px;
}
#box3 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    overflow:hidden;
    padding:20px;
}

#box4 {
    background-color: rgb(255, 255, 255);
   
    height: 58em;
    border: 15px lightgray;
    overflow: hidden;
    text-align: center;
    padding: 20px;
   
}
ul li {
    display: inline;
}
#box5 {
    background-color: rgb(255, 255, 255);
 
    height: 58em;
    overflow: hidden;
    padding: 20px;
    border: 15px lightgray;

}
#E {
    background-color: white;

    height: 55em;
 
    cursor: move;
}

a {
    color: purple;
}

