@charset "utf-8";
/* CSS Document */
.row {
    text-align: center;
}
body{
    padding:0;
}
button {
    float: right;
}

span .glyphicon {
    margin-right: 5px;
    font-size:1.2em;
}
[class*="col-"] {
    margin-bottom: 15px;
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
span {
   
    height: 12%;
    width: 100%;

    text-align: right;    
    background-color:white;
    float: right;
}
#box1 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 10em;
    padding: 10px;
 
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
a {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
#box2 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    padding:20px;
}
#box3 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    padding:20px;
}

#box4 {
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    height: 58em;
    border: 15px lightgray;
    text-align: center;

   
}
#B2 {
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    height: 58em;
    border: 15px lightgray;

}
#E {
    background-color: white;

    height: 55em;
 
    cursor: move;
}

a {
    color: purple;
}

