@charset "utf-8";
/* CSS Document */
.row {
    text-align: center;
}
body{
    padding:0;
}
[class*="col-"] {
    margin-bottom: 15px;
}
.container{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
#A1 {
    background-color: rgb(255, 255, 255);
    
    height: 10em;
    border: 15px green;
}
a {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}
#A2 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    padding:20px;
}
#A3 {
    background-color: rgb(255, 255, 255);
    height: 10em;
    text-align: center;
    padding:20px;
}

#B {
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    height: 58em;
    border: 15px lightgray;
    text-align: center;

   
}
#B2 {
    background-color: rgb(255, 255, 255);
    margin-top:20px;
    height: 58em;
    border: 15px lightgray;

}
#E {
    background-color: white;

    height: 55em;
 
    cursor: move;
}
#clear {
    clear: both;
}
a {
    color: purple;
}
* {
    color: rgb(0, 0, 0);
}
.container4 {
    background-color: lightgray;
    width: 1920px;
    height: 1080px;
    padding: 15px;
    margin: 15px;
}