    <div class="container">
        <!-- Main Interface for all components on Digital Butler page -->
        <div class="jumbotron">
            <div class="row top-buffer">

                <!-- Internet Care -->
                <app-internetCare></app-internetCare> 

                <!-- Wifi & Local Network Care Box -->
                <app-wifiCare></app-wifiCare>

                <!-- Device Care -->
                <app-deviceCare></app-deviceCare>

                <!-- Data Visualization -->
                <app-report></app-report>

                <!-- Services -->
                <app-promos></app-promos>  

            </div>
        </div>     
    </div>
    <app-toolbar></app-toolbar>

