<div  class="col-lg-3 col-md-3">
  
    <div id="wificare">
        <!-- Wifi&Local Network Care Span-->
        <span>
            <div class="row row-header"> 
                <div class="col-lg-8 text-nowrap" id="scaleTitle">
                    <h3>Wifi&Local Network Care</h3>
                </div>
                <div class="col-lg-4 ">
                        <!-- (click)="minimize('box2')" -->
                    <a href="#"><i class="glyphicon glyphicon-remove" (click)="remove('wificare')"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-minus " (click)="minimize('wificarebox')"></i> </a>
                </div>      
            </div>
        </span>
        <div class="topRow" id="wificarebox">
            <div class="row">
                    <div class="text-left" > 
                        <div class="col-lg-5">

                        </div>
                        <div class="col-lg-5 text-nowrap">
                            <div class="col-lg-12">
                                <a href="#" (click)="normalModal('NeighborChannel')">Neighbors on Home Channel</a>
                                <div id="NeighborChannel" class="modal">
                                    <div class="modal-content">
                                        <span class="close " (click)="closeModal('NeighborChannel')">close</span>
                                        <p>"You can also click this to close"</p>
                                        <br>
                                        <p>sumun put sumthing in 'ere</p>
                                    </div>
                                </div>
                                <h4> <strong>5</strong></h4>
                            </div>
                            <div class="col-lg-12">
                                <a href="#" (click)="smallModal('PoorLink')">Poor Links</a>
                                <div id="PoorLink" class="small_modal">
                                    <div class="small_modal-content">
                                        <div class="row row-header">
                                            <div class="col-lg-8"></div>
                                            <div class="close col-lg-4" (click)="closeModal('PoorLink')">&times;</div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-lg-6">
                                                <img class="medimg" src="../assets/masterIcons/device-speaker.png" alt="error"> 
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="#" (click)="normalModal('testModal')">more info</a>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-lg-6">
                                                <img class="medimg" src="../assets/masterIcons/device-camera-security.png" alt="error">
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="#" (click)="normalModal('testModal')">more info</a>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-lg-6">
                                                <img class="medimg" src="../assets/masterIcons/device-thermostat.png" alt="error">
                                            </div>
                                            <div class="col-lg-6">
                                                <a href="#" (click)="normalModal('testModal')">more info</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4> <strong>2</strong></h4>   
                            </div>
                        </div>
                        
                    </div>
            </div>
        </div>
    </div>
</div>