<div id="toolbar" class="boxShadow">
                <a href="/" ><img class="toolbarimg" id="refresh" src="../assets/refresh.svg"></a>
                <a href="#" (click)="showDiv('intcare')"><img class="toolbarimg" src="../assets/internet.svg"><img class="toolbarimg" src="../assets/InternetCare.svg"></a>
               
                <a><img class="toolbarimg" src="../assets/Line 113.svg"></a>
                <a href="#" (click)="showDiv('wificare')"><img class="toolbarimg" src="../assets/WiFiCare.svg"></a> 
                <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                <a href="#" (click)="showDiv('devicecare')"><p>Device Care</p></a> 
                <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                <a href="#" (click)="showDiv('datavisualization')"><p>Network</p></a> 
                <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
                <a href="#" (click)="showDiv('promos')"><p>Promos</p></a> 
                <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
            <!-- <a href="#" class="btn btn-sm btn-primary">E</a> -->
            <!-- <button (click)="remove($event)">X</button> -->
</div>