<div id="toolbar" class="boxShadow">
    <!-- buttons in the toolbar -->
    <a href="/user" >
        <img class="toolbarimg" id="refresh" src="../assets/refresh.svg"></a>
    <br>
    <a href="javascript:void(0)" (click)="showDiv('intcare')">
        <img class="toolbarimg" src="../assets/internet.svg">
        Internet Care
    </a>
    <br>           
    <a href="javascript:void(0)" (click)="showDiv('wificare')">
        <img class="toolbarimg" src="../assets/wifi.svg">
        WiFi Care
    </a> 
    <br>
    <a href="javascript:void(0)" (click)="showDiv('devicecare')">
        <img class="toolbarimg" src="../assets/devices.svg">
        Device Care
    </a> 
    <br>
    <a href="javascript:void(0)" (click)="showDiv('datavisualization')">
        <img class="toolbarimg" src="../assets/report.svg">
        Report
    </a> 
    <br>
    <a href="javascript:void(0)" (click)="showDiv('promos')">
        <img class="toolbarimg" src="../assets/promo.svg">
        Promos
    </a> 
    <br>

</div>