<div id="toolbar" class="boxShadow">
    <!-- buttons in the toolbar -->
    <a href="/user" ><img class="toolbarimg" id="refresh" src="../assets/refresh.svg"></a>

    <a><img class="toolbarimg" src="../assets/Line 113.svg"></a>
    <a (click)="showDiv('intcare')">
        <img class="toolbarimg" src="../assets/internet.svg">
        Internet Care
    </a>
               
    <a><img class="toolbarimg" src="../assets/Line 113.svg"></a>
    <a (click)="showDiv('wificare')">
        <img class="toolbarimg" src="../assets/wifi.svg">
        WiFi Care
    </a> 

    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
    <a (click)="showDiv('devicecare')">
        <img class="toolbarimg" src="../assets/devices.svg">
        Device Care
    </a> 

    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
    <a (click)="showDiv('datavisualization')">
        <img class="toolbarimg" src="../assets/report.svg">
        Report
    </a> 
    
    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
    <a (click)="showDiv('promos')">
        <img class="toolbarimg" src="../assets/promo.svg">
        Promos
    </a> 

    <a><img class="toolbarimg" src="../assets/Line 54.svg"></a>
            <!-- <a href="#" class="btn btn-sm btn-primary">E</a> -->
            <!-- <button (click)="remove($event)">X</button> -->
</div>