#toolbar a{
    padding: 0px;
<<<<<<< HEAD
    margin: 0px;
}
div button {
    float:right;
}
.boxShadow {
    box-shadow: 8px 8px 5px #888888;
=======
    margin:0px;
>>>>>>> 903d9cc84f659b6e9dba3eb1f71e9826dbfbcc14
}