#toolbar a{
    margin: 0px;
    margin-top: 15px;
}

.toolbarimg {
    width: 60%;
    height: 60%;
    margin: 0;
}
div button {
    float:right;
}
.box {
    box-shadow: 8px 8px 5px #888888;
}
#refresh{
    margin-top:20x;
    margin-bottom:5px;
}
/* Change background color of buttons on hover */
a:hover {
    background-color: #ddd;
}

a:link {
    color: #000000;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000000;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #000000;
    text-decoration: none;
    background-color: #ddd;
}

/* selected link */
a:active {
    color: #000000;
    text-decoration: none;
}
