/* You can add global styles to this file, and also import other style files */
.nav {
    background-color:white;
    padding: 10px;
}
body{
    background-color: rgb(238, 238, 238);
    
    
}
#brand {
    max-width:50%;
    max-height:50%;
  }