:host ::ng-deep rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}
:host ::ng-deep text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}
:host ::ng-deep text.axis-workweek {
  fill: #000;
}
:host ::ng-deep text.axis-worktime {
  fill: #000;
}

:host ::ng-deep .chartDisplay {
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
}

:host ::ng-deep .choiceDisplay {
  background-color: white;
  padding: 50px;
}